html{
	height: 620px;
}
body{
	margin: 0px;
}
.row{
	display: flex;
}
.column-1{
	width: 20%;
	background-color : rgba(98, 31, 87, 1);
	background-height : 200px;
	float: left;
    padding: 10px;
    height: 1000px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-1 img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  height: auto;
}
.column-1 h1{
	font-size: 50px;
	text-align: center;
	font-family: "Brush Script MT", Brush Script Std, cursive;
	color: rgba(255, 174, 174, 1);
}
.column-1 p{
	font-size: 20px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgba(225, 210, 206, 1)
}
.column-5{
	width: 20%;
	background-color : rgba(98, 31, 87, 1);
	background-height : 200px;
	float: left;
    padding: 10px;
    height: 1000px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-5 img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  height: auto;
}
.column-5 h1{
	font-size: 50px;
	text-align: center;
	font-family: "Brush Script MT", Brush Script Std, cursive;
	color: rgba(255, 174, 174, 1);
}
.column-5 p{
	font-size: 20px;
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: rgba(225, 210, 206, 1)
}
.column-2{
	width: 15%;
	float: left;
    padding: 10px;
    height: 700px;
	background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 1000px;
}
.column-2 img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  height: auto;
}
.column-3{
	width: 50%;
	float: left;
    padding: 10px;
	background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 1000px;
}
.column-6{
	width: 40%;
	float: left;
  padding: 10px;
  height: 1000px;
	background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
max-width: 100%;
}
.column-3 h1{
	font-size: 75px;
	text-align: center;
	color: rgba(39, 8, 89, 1);
}
.column-3 p{
	text-align: center;
	font-size: 18px;
	font-family: "OCR A Std", monospace;
}
.column-3 .button1 {
	font-family: "Stencil Std", fantasy;
	opacity: 0.7;
    background-color: rgba(196, 196, 196, 1);
    border: none;
    color: rgba(39, 8, 89, 1);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 0px;
}
.column-3 .button2 {
	font-family: "Stencil Std", fantasy;
	opacity: 0.7;
    background-color: rgba(196, 196, 196, 1);
    font-color: rgba(39, 8, 89, 1);
    border: none;
    color: rgba(39, 8, 89, 1);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 0px;
}
.column-4{
	width: 15%;
	float: left;
    padding: 10px;
    width: 350px;
	background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
max-width: 100%;
  height: 1000px;
}
.column-7{
	float: left;
  padding: 10px;
  width: auto;
	background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 1000px;
}
.column-4 img{
	display: block;
    margin-left: auto;
   margin-right: auto;
max-width: 100%;
  height: auto;
 }
.column-6 p{
	text-align: justify;
	font-size: 20px;
	font-family: "Marker Felt", fantasy;
}
.column-7 p{
	text-align: justify;
	font-size: 20px;
	font-family: "Marker Felt", fantasy;
}
.column-8{
	float: left;
  padding: 10px;
  width: 20%;
  background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 1000px;
}
.column-9{
	float: left;
	max-width: 100%;
  height: 1000px;
	width: 8%;
	background-image : url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.column-9 .button3 {
	font-family: "Stencil Std", fantasy;
	opacity: 0.7;
    background-color: rgba(196, 196, 196, 1);
    font-color: rgba(39, 8, 89, 1);
    border: none;
    color: rgba(39, 8, 89, 1);
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 1px 1px;
    cursor: pointer;
    border-radius: 0px;
}
.column-8 .rectangle1{
	height: 20px;
  	width: 170px;
  	background-color: purple;
  	opacity: 1.0;
}
.column-8 .rectangle1 .another1{
	height: 20px;
  	width: 145px;
  	background-color: pink;
  	opacity: 1.0;
  }
.column-8 .rectangle2{
	height: 20px;
  	width: 170px;
  	background-color: purple;
  	opacity: 1.0;
}
.column-8 .rectangle2 .another2{
	height: 20px;
  	width: 150px;
  	background-color: pink;
  	opacity: 1.0;
  }
.column-8 .rectangle3{
	height: 20px;
  	width: 170px;
  	background-color: purple;
  	opacity: 1.0;
}
.column-8 .rectangle3 .another3{
	height: 20px;
  	width: 135px;
  	background-color: pink;
  	opacity: 1.0;
  }
.column-8 .rectangle4{
	height: 20px;
  	width: 170px;
  	background-color: purple;
  	opacity: 1.0;
}
.column-8 .rectangle4 .another4{
	height: 20px;
  	width: 140px;
  	background-color: pink;
  	opacity: 1.0;
}
.column-6 p{
	text-align: justify;
	font-size: 20px;
	font-family: "Marker Felt", fantasy;
}

body {
    font-family: cursive;
    font-size: auto;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-image: url("https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg");
    background-size: 100%;

}

/* Full-width input fields */
input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: purple;
    outline: none;
    opacity: 0.7;
}
/* Overwrite default styles of hr */
hr {
    border: 2px solid #FFC0CB;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: purple;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 0.5;
}

@media only screen and (max-width: 600px) {
    .row-lagi, .row{
      flex-direction: column;
    }
    .column-1{
      width: 100% !important;
    }
    .column-2, .column-3, .column-4{
      width: 50% !important;
    }
    .column-1{
      height: auto !important;
    }
    .column-2, .column-4{
      width: 20% !important;
      height: auto !important;
    }
    .column-3{
      height: auto !important;
      width: 150% !important;
    }
    .column-5, .column-6, .column-9{
      width: 100% !important;
    }
    .column-5, .column-6, .column-9{
      height: auto !important;
    }
    .column-2, .column-3, .column-4{
      flex-direction: row;
    }
    .column-2{
      height: 30%;
      width: 30%;
    }
    .column-7{
      flex-direction: row;
      width: 45%;
      height: 110% !important;
    }
    .column-8{
      flex-direction: row;
      width: 55%;
      height: 110%;
    }

    .column-2, .column-4, .orang{
      display: none;
    }
    .*{box-sizing: none;}
}