<!DOCTYPE html>
<html>
<head>

     {% load static %}
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static "newstyle.css" %}>
	<title>Schedule</title>

</head>

<body>

    {% block content %}
    {% endblock %}
    
</body>
</html>