{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="jadwal">
            <section name="form">
                <h2>Add to your Schedule</h2>
                <form method="POST" action="#">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} {{ field }} </p>
                    {% endfor %}    
                    <br>
                    <input type="submit" value="Submit" style="color: white; background-color:purple; padding-center: 15px">
                    <a href="{% url 'jadwal' %}" style="color: white; background-color:purple; padding-center: 15px"> Lihat Jadwal</a>
                </form>
            </section>
        </div>
    </div>
{% endblock %}
