{% extends "base.html" %}
{% load static %}
{% block content %}

    <link rel="stylesheet" href="{% static "newstyle.css" %}">
    <div class="container">
        <body background="https://wallpapertag.com/wallpaper/full/0/e/1/876028-purple-color-background-3000x2000-download-free.jpg">
        <h2>Jadwal</h2>
        <table style="width: 100%; text-align: center;">
            {% if lstJadwal %}
                <tr>
                    <th>Kegiatan</th>
                    <th>Hari / Tanggal</th>
                    <th>Waktu</th>
                    <th>Tempat</th>
                    <th>Kategori</th>
                </tr>
                {% for jadwal in lstJadwal %}
                    <tr>
                        <td>{{ jadwal.kegiatan }}</td>
                        <td>{{ jadwal.hari }}</td>
                        <td>{{ jadwal.waktu }}</td>
                        <td>{{ jadwal.tempat }}</td>
                        <td>{{ jadwal.kategori }}</td>
                    </tr>
                {% endfor %}  
            {% else %}
                <h3>Tidak ada jadwal terbaru</h3>
            {% endif %}     
        </table>
        <br>
        <a href="{% url 'tambahJadwal'%}" style="color: white; background-color:purple; width: 100%; text-align: center; font-size: 20px;">Tambah Jadwal Baru</a>
        <a href="{% url 'deleteJadwal'%}" style="color: white; background-color:purple; width: 100%; text-align: center; font-size: 20px;">Hapus Jadwal Lama</a>
    </div>
{% endblock %}