<!DOCTYPE html>
<html>
	<head>
        {% load static %}
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static "newstyle.css" %}">
	</head>

	<body>
	<form action="/action_page.php">
  	
  	<div class="container">
    	<h1>Register Yourself!</h1>
    	<p>Please fill in this form to create an account.</p>
    	<hr>
    
    	<label for="nama"><b>Nama Lengkap</b></label>
    	<input type="text" placeholder="Enter Your Full Name" name="nama" required>
    
    	<label for="tgl lahir"<b>Tanggal Lahir</b></label>
    	<input type="date" placeholder="Enter Your Birthday" name="tgl lahir" required>

    	<label for="email"><b>Email</b></label>
    	<input type="text" placeholder="Enter Email" name="email" required>
    
    	<label for="username"><b>Username</b></label>
    	<input type="text" placeholder="Enter Username" name="username" required>

    	<label for="psw"><b>Password</b></label>
    	<input type="password" placeholder="Enter Password" name="psw" required>

    	<label for="psw-repeat"><b>Repeat Password</b></label>
    	<input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    	<hr>

    	<button type="submit" class="registerbtn">Register</button>
  	</div>
  	</form>
	</body>
</html>
