<html>
	<head>
	{% load static %}
	<link rel="stylesheet" href="{% static "newstyle.css" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class = "row">
			
			<div class = "column-1">
				<img src="https://pbs.twimg.com/media/Dn9Si3PUUAAIfe2.jpg" style="width: 225px; height:325px; border-radius: 40%;"/>
				<h1> Rafika Putri Balqis </h1>
				<hr>
				<p> Faculty of Computer Science, University of Indonesia </p>
			</div>

			<div class = "column-2">
				<br>
				<br>
				<img src= "https://pbs.twimg.com/media/Dn9NX11U4AAac4M.png:large" style="width:150px; height:150px;" class = "orang";/>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<img src= "https://pbs.twimg.com/media/Dn9OnmMVAAAtO0x.png:large" style="width:100px; height:100px;"/>
			</div>
			
			<div class = "column-3">
				<h1 > welcome!</h1>
				<p>I am a full-time computer science student at University of Indonesia.<br>
				Amateur webdeveloper. I'd like to travel and explore new things.<br>
				Responsive and friendly kind of person.</p>
				<br>
				<br>
				<p> Mobile : (+62)812-9367-3834 <br>
				Email : rafikabalqis@ymail.com<br>
				Address : Bumi Sutera Cibubur St. East Jakarta,<br>
				Indonesia, 13720</p>
				<br>
				<br>
				<br>
				<div class="button1">
					<a href="#" class="button1">PROFILE</a>
				</div>

				<div class="button2">
					<a href="story3 - page2.html" class = "button2"> EDUCATION & EXPERIENCES </a>
				</div>
			</div>

			<div class = "column-4">
				<br>
				<br>
				<img src="https://pbs.twimg.com/media/Dn9NX11U4AAac4M.png:large" style="width:150px; height:150px;" class = "orang";/>
			</div>
		
		</div>
	</body>

</html>
