<html>
	<head>
	{% load static %}
	<link rel="stylesheet" href="{% static "newstyle.css" %}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

	<body>
		<div class = "row-lagi">
			
			<div class ="column-5">
				<img src="https://pbs.twimg.com/media/Dn9Si3PUUAAIfe2.jpg" style="width: 225px; height:325px; border-radius: 40%;"/>
				<h1> Rafika Putri Balqis </h1>
				<hr>
				<p> Faculty of Computer Science, University of Indonesia </p>
			</div>

			<div class = "column-6">
				<img src="https://pbs.twimg.com/media/Dn9QO0LUUAAUu2_.png" style="width: 150px; height:150px;"/>
                <p> - University of Indonesia <br><br>
                - 39 Jakarta Senior High School <br><br>
           		- 49 Jakarta Junior High School <br><br>
           		- Cibubur 11 Elementary School</p>
           		<br>
           		<br>
           		<img src="https://pbs.twimg.com/media/Dn9RWpCU8AAmgBu.png" style="width: 150px; height:150px;">
           		<p> Universiade Sport Competition 2017 : Staff of Public Relation<br><br>
				Open House Faculty of Computer Science 2017 : Staff of Public Relation<br><br>
				Graduation Ceremony Faculty of Computer Science 2018 : Staff of Liaison Officer<br><br>
				Computers get Together Event 2018 : Staff of Public Relation<br><br>
				Compfest X 2018 : Staff of Fundraising<br><br>
				Dewan Perwakilan Mahasiswa, Faculty of Computer Science 2018 : Staff of Public Relation</p>
			</div>
			
			<div class = "column-7">
				<img src="https://pbs.twimg.com/media/Dn9RL73VAAAA7Nu.png" style="width: 120px; height:120px;"/>
				<br>
				<br>
				<br>
				<p> Public Speaking <br>
					<br>
					Teamwork<br>
					<br>
					Confidence<br>
					<br>
					Persuasive </p>
				<br>
				<br>
				<br>
				<img src="https://pbs.twimg.com/media/Dn9RaNAUcAAJv3e.png" style="width: 120px; height:120px;">
				<p style="align: center;"><a href="regist.html">More Info</a><p>
			</div>

			<div class = "column-8">
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<br>
				<div class="rectangle1">
				<div class = "another1"></div>
				</div>
				<br>
				<div class="rectangle2">
				<div class = "another2"></div>
				</div>
				<br>
				<div class="rectangle3">
				<div class = "another3"> </div>
				</div>
				<br>
				<div class="rectangle4">
				<div class= "another4"> </div>
				</div>
			</div>

			<div class = "column-9">
				<div class="button3">
					<a href="story3 - page1.html" class = "button3"> BACK </a>
				</div>
				<br>
				<br>
				<br>
				<div class="button3">
					<a href="jadwal.html" class="button3">SCHEDULE</a>
				</div>
				</div>
		
		</div>
	</body>